/bin
/target
/.settings
/.classpath
/.project
/test-output
pom.xml.versionsBackup
output.txt
/classes
/compile-time-dependencies
/dist
/test/lib
/samples/webapps/JerichoHTML.war
/samples/console/classes
/samples/webapps/JerichoHTML/WEB-INF/lib
/docs/javadoc
/docs/javadoc-jar
pom.xml.versionsBackup
